h3,button,p{
	margin: 0;
	padding: 0;
}
#container{
	max-width: 500px;
	margin: 0 auto;
}
#start{
	text-align: center;
}
#start h3{
	font-size: 30px;
	color: #c0c0c0;
}
#start button{
	width: 65px;
	height: 25px;
	border-radius: 5px;
	color: #fff;
	border: none;
	background-color: red;
	cursor: pointer;
}
#back{
	max-height: 500px;
	border-radius: 4%;
	background-color: #800080;
	position: relative;
}
#back .under{
	border-radius: 10%;
	background-color: #b8860b;
	position: absolute;
}
#back .upper{
	border-radius: 10%;
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	line-height: 100%;
	text-align: center;
}
p{
	font-size: 20px;
	text-align: center;
}






